{# templates/Formularz1/Formularz1.html.twig #}
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Formularz {% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block body %}
        <form>
            First name:<br>
            <input type="text" name="firstname"><br>
            Last name:<br>
            <input type="text" name="lastname"><br>
            Sex:<br>
            <input type="radio" name="sex" value="male" checked> Male<br>
            <input type="radio" name="sex" value="female"> Female<br>
            Age:<br>
            <input type=text" name="age"><br>
            Occupation:<br>
            <input type="text" name="occupation"><br>
            <input type="submit" value="Submit">
        </form>
    {% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>

